@using Nullean.OnlineStore.OnlineStore.Controllers;
@using Nullean.OnlineStore.OnlineStore.Models;
@model UserModelDetailed


<h2>Hello, @Model.Username</h2>
<a asp-action="LogOut">log out</a> <a asp-action="Index">Go to default page</a>
<h1>Your orders:</h1>
<a asp-action="AddTestOrder">Add test order</a>
<div asp-validation-summary="All"></div>

<span> Orders count: @Model.OrdersCount</span><br />
<span> Total orders price: @Model.OrdersTotalPrice</span><br />

@foreach (var order in Model.Orders) 
{
    <table>
        <thead>
            <tr>
                <td> Product </td>
                <td> Price </td>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in order.Products)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total products count:</td>
                <td>@order.TotalCount</td>
            </tr>
            <tr>
                <td>Total products price:</td>
                <td>@order.TotalPrice</td>
            </tr>
        </tfoot>
    </table>
    <br />
}

<a href="/swagger">Swagger</a>
